.input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	input {
		backdrop-filter: blur(84px);
		border-radius: 8px;
		border: none;
		padding: 1rem;
		width: calc(100% - 2rem);
		border: 1px solid rgb(201, 202, 206);
	}
}
