.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);
	width: calc(100% - 4rem);
	position: relative;
	padding: 2rem;
}
