.button {
	border: none;
	color: #030c5e;
	background-color: #fff;
	border-radius: 10px;
	padding: 1.5rem 3rem;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	&:hover {
		background-color: #eee;
	}
}
